@import 'variables.css';

.formWrapper {
  background-color: rgba(200, 200, 200, 0.9);
  padding: 60px;
  margin-top: 50px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--zen-5);
  color: #3a506b;
}
