@import 'variables.css';

.hero {
  background-image: url('assets/hero-banner.jpg');
  background-position: center center;
  background-size: cover;
  width: 100vw;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}
