@import 'variables.css';

.modal :global(.modal-content) {
  background-color: unset;
}

.closeButton {
  margin: 15px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.modalBody {
  background-color: rgba(255, 255, 255, 0.85);
  border: 3px solid var(--zen-5);
  border-radius: 10px;
  color: #3a506b;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
