@import 'variables.css';

footer {
  min-height: var(--footer-height);
  color: #c2fff6;
  background-color: var(--stockzen-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}

footer.userAuthenticated {
  background-color: var(--stockzen-light);
  color: #3a506b;
}
