@import 'variables.css';

footer {
  min-height: var(--footer-height);
  color: var(--zen-5);
  background-color: var(--stockzen-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}

footer.userAuthenticated {
  background-color: var(--stockzen-light);
  color: var(--zen-3);
}
