@import 'variables.css';

header {
  min-height: var(--header-height);
  background-color: var(--stockzen-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  height: 38px;
}

header img {
  transform: scale(0.8);
}

header a {
  color: #1c2541;
}

header.userAuthenticated {
  background-color: var(--stockzen-light);
  color: var(--zen-3);
}

.tabs {
  size: large;
  outline: none;
  font-weight: bold;
  color: var(--zen-2);
  margin-right: 5%;
}