@import 'variables.css';

header {
  min-height: var(--header-height);
  color: var(--zen-5);
  background-color: var(--stockzen-dark);
}

header.userAuthenticated {
  background-color: var(--stockzen-light);
  color: var(--zen-3);
}
