@import 'variables.css';

.hero {
  background-image: url('assets/hero-banner.jpg');
  background-position: center center;
  background-size: cover;
  width: 100vw;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

/** GLOBALS: 
 * All selectors here should be prefixed with ":global" to switch
 *  to the global scope, i.e. no unique suffix id added on compile 
 */

/* adds a green stroke around the text */
:global(.outerStroke) {
  text-shadow: -1px -1px 0 var(--zen-4), 1px -1px 0 var(--zen-4),
    -1px 1px 0 var(--zen-4), 1px 1px 0 var(--zen-4);
}

:global(.btn) {
  min-width: 80px;
  padding: 4px 8px;
  text-align: center;
  letter-spacing: -0.01rem;
}

:global(input[class^='form']) {
  padding: 4px 12px;
  border: 1px solid var(--zen-3);
  background-color: rgba(255, 255, 255, 0.55);
}
