:root {
  --zen-1: #0b132b;
  --zen-2: #1c2541;
  --zen-3: #3a506b;
  --zen-4: #5bc0be;
  --zen-5: #c2fff6;

  --stockzen-dark: var(--zen-2);
  --stockzen-light: var(--zen-4);
  --header-height: 70px;
  --footer-height: 70px;

  --theme-darkened: #3a506b;

  --loss-red: #e26b6b;
  --gain-green: #5bc07d;
}
