@import 'variables.css';

.stockHeader {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 2px 0px;
}

.stockName {
  margin-bottom: 0;
  font-weight: bold;
}

.stockCode {
  margin-top: 0;
  font-weight: bold;
}

.stockSummmary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin: 0px 15px 5px 0px;
}

.stockPrice {
  flex: 0 0 content;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
}

.stockChange {
  flex: 0 0 content;
  font-size: large;
  padding: 0px 8px 0px 0px;
}

.stockPercChange {
  flex: 0 0 content;
  font-size: large;
}

.update {
  margin-left: auto;
  flex: 0 0 content;
}

.updateButton {
  background-color: transparent;
  border: none;
  color: var(--row-gray-rgb);
}

.tableBar {
  display: flex;
  height: 10%;
  border-bottom: 2px solid;
  border-color: #c4c0c0;
  padding: 0;
  margin-bottom: 8px;
  list-style-type: none;
}

.tableBar .tabs {
  width: auto;
  height: 10%;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px 5px 0px 0px;
  border-color: var(--zen-4);
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: 300;
}

.tableBar .activeTab {
  width: auto;
  height: 10%;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px 5px 0px 0px;
  border-color: var(--zen-4);
  background-color: #d1d1d1;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
}

.moneyGain {
  color: var(--gain-green);
}

.moneyLoss {
  color: var(--loss-red);
}

.tooltip {
  background-color: white;
  border: 1px solid var(--zen-5);
  width: 140%;
  height: 100%;
  padding: 5px 0px 5px 10px;
  font-size: small;
}

.tooltip .index {
  width: 100%;
}

.tooltip .index .indexTitle {
  max-width: 44%;
  float: left;
  font-weight: bold;
}

.tooltip .index .sep {
  max-width: 1%;
  float: left;
  font-weight: bold;
  margin-right: 1px;
  padding: 0;
}

.tooltip .index .indexValue {
  max-width: 55%;
  float: left;
  text-align: right;
  padding: 0;
}

.modalWrapper {
  max-width: 30%;
  position: fixed;
  transform: translate(120%, 30%);
  text-align: center;
}

.historyTable {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.historyTitle {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid var(--zen-3);
}

.historyTitle .title {
  width: 16%;
  font-weight: bold;
  float: left;
  text-align: center;
}
