@import 'variables.css';

.tableToolbar {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.toolbarText {
  flex-basis: auto;
  flex-grow: 1;
  font-size: 1.2rem;
  margin-left: 10px;
  text-decoration: underline;
}

.toolbarCreateButton {
  color: var(--zen-3);
  background-color: transparent;
  border: none;
}
.toolbarPlusIcon {
  width: 25px;
  padding: 0 4px 4px 0;
}

.portfolioTable {
  width: 100%;
}

.moneyGain {
  color: #5bc07d;
}

.moneyLoss {
  color: #e26b6b;
}

.tableHeader,
.tableRow {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.tableRow {
  margin-right: -25px;
}

.tableHeader {
  margin-bottom: 0px;
}

.tableHeader button {
  font-weight: 400;
  background-color: transparent;
  border-color: transparent;
  color: var(--zen-3);
  padding: 0;
}

.rowPortInfo {
  display: grid;
  grid-template-columns: 5fr 34fr 5fr 12fr repeat(3, 15fr);
  width: 100%;
  padding: 5px 10px 5px 5px;
  align-items: center;
}

.tableRow .rowPortInfo {
  background-color: rgba(var(--row-gray-rgb), 0.7);
  min-height: 45px;
  border: transparent;
  border-radius: 5px;
}

.rowHandle {
  color: var(--zen-3);
}

.rowPortfolio {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.rowPortfolioLink {
  text-decoration: none;
  color: var(--zen-3);
  font-weight: 600;
  font-size: 0.9em;
}

.editButton {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  margin-left: 5px;
}

.deleteButton {
  background-color: transparent;
  border-color: transparent;
}

.rowStocks {
  text-align: center;
}

.rowMarketValue,
.rowChange,
.rowTotalGain {
  text-align: right;
  margin-right: 3px;
}
.rowChange,
.rowTotalGain {
  margin-bottom: -3px;
}

.rowMarketValue > button,
.rowChange button,
.rowTotalGain > button {
  text-align: right;
}

.rowPortfolio > button {
  text-align: left;
}

.rowDelete {
  margin-left: 3px;
}

/* MODAL */

.modalWapper {
  min-width: 400px;
  max-width: 30%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.modalTitle {
  width: 100%;
}

@media (any-hover: hover) {
  .rowDelete button {
    visibility: hidden;
  }

  .notDragging .tableRow:hover .rowDelete button {
    visibility: visible;
  }

  .notDragging .tableRow:hover .rowPortInfo {
    outline: 1px solid var(--zen-4);
    background-color: var(--zen-5);
  }

  .rowHandle img {
    display: none;
  }

  .notDragging .tableRow:hover .rowHandle img {
    cursor: move;
    display: block;
  }

  .editButton {
    visibility: hidden;
  }

  .notDragging .tableRow:hover .editButton {
    visibility: visible;
  }
}

.percent {
  font-size: 0.75rem;
  line-height: 0.6rem;
}

.tableRow .rowChange,
.tableRow .rowTotalGain,
.tableRow .rowStocks,
.tableRow .rowMarketValue {
  font-size: 0.9rem;
}

/*   
  md: 768px,
  lg: 992px, */

@media only screen and (max-width: 767px) {
  .rowStocks {
    display: none;
  }
  .rowTotalGain {
    display: none;
  }
  .rowChange {
    display: none;
  }
}
