@import 'variables.css';

.summaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 0;
  max-width: 600px;
}

.summaryWrapper {
  text-align: center;
}

.summaryWrapper img {
  width: 30px;
  margin: 0 5px 5px 0;
}

.summaryTitle {
  font-weight: 700;
  font-size: 1.1rem;
}

.summaryValue {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}

.separatorLine {
  margin: 10px 0;
}
