.header {
  position: relative;
  margin-bottom: 20px;
}

.actionButtonContainer {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}

.actionButtonContainer button {
  padding: 0;
}

.actionButtonContainer button img {
  margin-right: 5px;
}

.headerText {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.alertThresholds {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: auto;
  width: 500px;
}

img.alertAlerted {
  opacity: 0.4;
}

.alertThresholdInputGroup {
  width: 150px;
}

.alertThresholdControl {
  text-align: center;
}

.rowHeader .lotTradeDate,
.rowHeader .lotUnitPrice,
.rowHeader .lotValue,
.rowHeader .lotChange,
.rowHeader .lotActions {
  text-align: center;
}

.lotRow {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  min-height: 30px;

  align-items: center;
}

.lotTradeDate {
  text-align: center;
}

.lotTradeDate,
.lotUnitPrice,
.lotValue,
.lotActions {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.lotUnitPrice,
.lotValue,
.lotChange {
  text-align: center;
}

.lotUnits {
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.lotValue,
.lotChange {
  flex-basis: 120px;
  flex-grow: 0;
  flex-shrink: 0;
}

.lotActions {
  flex-basis: 80px;
  text-align: center;
}

.totals {
  font-weight: 500;
}

.editButton {
  min-width: 0 !important;
  visibility: hidden;
}

.deleteButton {
  padding-left: 15px !important;
  min-width: 0 !important;
  visibility: hidden;
}

.lotRow:hover .deleteButton,
.lotRow:hover .editButton {
  visibility: visible;
}

.lotRow:hover .lotTradeDate {
  text-decoration: underline;
}
