@import 'variables.css';

.tableToolbar {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 10px;
}

.toolbarText {
  flex-basis: auto;
  flex-grow: 1;
}

.toolbarControls {
}

.portfolioTable {
  width: 100%;
}

.moneyGain {
  color: #5bc07d;
}

.moneyLoss {
  color: #e26b6b;
}

.sideScrollWrapper {
  max-width: 100vw;
  overflow-x: auto;
  margin-right: -35px;
}

.sdieScrollContainer {
  min-width: 615px;
  margin: 0 1px;
}

.tableHeader,
.tableRow {
  display: flex;
  align-items: center;
}

.tableRow {
  padding-bottom: 7px;
}

.tableHeader button {
  font-weight: 400;
  background-color: transparent;
  border-color: transparent;
  color: var(--zen-3);
  padding: 0px;
  min-width: 0;

  display: flex;
  width: 100%;
  justify-content: flex-end;
  min-height: 28px;
}

.tableHeader .rowCode button {
  justify-content: flex-start;
}

.tableHeader .rowName button {
  justify-content: center;
}

.rowStockInfo {
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  border-radius: 10px;
  padding: 5px 10px 5px 5px;
  align-items: center;
}

.tableRow .rowStockInfo {
  background-color: rgba(var(--row-gray-rgb), 0.6);
  min-height: 50px;
}

.rowHandle {
  flex-basis: 25px;
  color: var(--zen-3);
  flex-shrink: 0;
}

.rowCode {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 70px;
  text-align: center;

  overflow-x: hidden;
  text-overflow: ellipsis;
}

.rowName {
  flex-grow: 10;
  flex-basis: 100px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.rowStockLink {
  text-decoration: none;
  color: var(--zen-4);
  font-weight: 700;
  font-size: 0.9em;
}

/* .editButton {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  margin-left: 5px;
}

.deleteButton {
  background-color: transparent;
  border-color: transparent;
}

.rowEditButton {
  flex-basis: 25px;
  flex-shrink: 0;
} */

.rowPrice {
  text-align: right;
  flex-basis: 80px;
  flex-shrink: 0;
}

.rowChange {
  text-align: right;
  flex-basis: 80px;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowAveragePrice {
  text-align: right;
  flex-basis: 90px;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowProfit {
  text-align: right;
  flex-basis: 65px;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowProfit {
  text-align: right;
  flex-basis: 88px;
  display: inline-block;
  text-align: right;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowValue {
  text-align: right;
  flex-basis: 109px;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowPredict {
  text-align: right;
  flex-basis: 88px;
  text-align: right;
  flex-shrink: 0;
  flex-grow: 0.2;
}

.rowDelete {
  flex-basis: 35px;
  text-align: right;
  flex-shrink: 0;
}

.deleteButton {
  background-color: transparent;
  border-color: transparent;
}

@media (any-hover: hover) {
  .rowDelete button {
    visibility: hidden;
  }

  .tableRow:hover .rowDelete button {
    visibility: visible;
  }

  .rowHandle img {
    visibility: hidden;
  }

  .tableRow:hover .rowHandle img {
    visibility: visible;
  }

  .notDragging .tableRow:hover .rowStockInfo {
    outline: 1px solid var(--zen-4);
    background-color: var(--zen-5);
  }

  .editButton {
    visibility: hidden;
  }

  .tableRow:hover .editButton {
    visibility: visible;
  }
}

.percent {
  font-size: 0.8em;
}

/* .tableRow .rowPortfolio, */
.tableRow .rowName,
.tableRow .rowPrice,
.tableRow .rowChange,
.tableRow .rowAveragePrice,
.tableRow .rowProfit,
.tableRow .rowValue {
  font-size: 0.8em;
}

/*   
  md: 768px,
  lg: 992px, */

@media only screen and (max-width: 767px) {
  .rowStocks {
    display: none;
  }
  .rowTotalGain {
    display: none;
  }
  .rowChange {
    display: none;
  }
}
